<div class="container">
    <h2 class="mt-5">Dashboard</h2>
    <button class="btn btn-success mb-3" routerLink="/new-appointment">Book New Appointment</button>
    <h4>Upcoming Appointments</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Patient Name</th>
                <th>Date</th>
                <th>Time</th>

                <!-- <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dr. Smith</td>
                <td>madhu</td>
                <td>2024-07-10</td>
                <td>10:00 AM</td>

                <!-- <td>
                    <button class="btn btn-secondary">Reschedule</button>
                    <button class="btn btn-danger">Cancel</button>
                </td> -->
            </tr>
            <!-- More appointments -->
        </tbody>
    </table>
</div>